* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    font-size: 4rem;
}

h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

a, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    text-decoration: none;
    color: white;
    line-height: 1.5;
    letter-spacing: 0.1rem;
}

body {
    background-color: #d9dcd6;
}


/* LOGO AND NAVIGATION BAR */
header {
    padding: 2rem;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 1rem;
    float: right;
    font-size: 2rem;
}

header a {
    line-height: 1;
    margin-left: 4rem;
    font-size: 1.75rem;
}


/* MAIN PICTURE OF THE WEBSITE */
#main-picture figure {
    height: 100vh;
    width: 100%;
    margin-bottom: 2.5rem;
    background-image: url("../images/digital-marketing-meeting-small.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* MAIN INFORMATION CONNECTED TO NAV LINK */
.float-left {
    float: left;
    margin-right: 3rem;
}

.float-right {
    float: right;
    margin-left: 3rem;
}

main {
    width: 96%;
    margin-left: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 0 auto;
}

.content-box {
    box-sizing: border-box;
    margin-bottom: 2rem;
    padding: 3rem 3rem 5rem 3rem;
    height: auto;
    background-color: #0072bb;
    color: #ffffff;
}

.content-box img {
    width: 100%;
    max-height: auto;
    margin-bottom: 3rem;
}

.content-box h2 {
    margin-bottom: 2rem;
    font-size: 3.6rem;
}


/* BENEFITS */
#benefits {
    width: 100%;
    height: 100%;
    background-color: #2589bd;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}

.benefit-box {
    margin-bottom: 2rem;
    color: #ffffff;

}

.benefit-box h3 {
    margin-bottom: 2rem;
    text-align: center;
}

.benefit-box img {
    display: block;
    margin: 0 auto;
    max-width: 15rem;
    filter: invert(1);
}


/* FOOTER OF THE PAGE */
footer {
    padding: 3rem;
    clear: both;
    text-align: center;
}

footer h2, small{
    font-size: 1.5rem;
    color: black;
    padding: 1.5rem;
}


/* MEDIA QUERIES */
@media (min-width: 1200px) {}

@media (max-width: 992px) {
    header {
        display: grid;
        grid-template-rows: 5.5rem 2rem;
    }
    
    header h1 {
        text-align: center;
        grid-area: 1 / 1 / 2 / 4;
    }

    header nav {
        width: 100%;
        grid-area: 2 / 1 / 3 / 4;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        align-items: center;
        margin: 0;
        padding: 0;
    }

    header nav a {
        margin: 0;
        text-align: center;
    }

    main {
        grid-template-columns: none;
    }

    .content-box img {
        width: 40%;
    }
}

@media (max-width: 768px) {
    a, p {
        font-size: 1.5rem;
    }

    h2, h3 {
        font-size: 2rem;
    }
    
    header a {
        font-size: 1.5rem;
    }

    main {
        width: 94%;
        grid-template-columns: none;
        grid-template-rows: repeat(3, auto);
    }

    .content-box {
        padding: 3rem;
    }

    .content-box h2 {
        font-size: 2.5rem;
    }

    .content-box img {
        margin-bottom: 0;
    }
}

@media (max-width: 576px) {
    header {
        grid-template-rows: 6rem 1fr;
    }

    header nav {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 0.5rem;
    }

    header a {
        background-color: #d9dcd6;
        padding: 1rem;
        color: #2a607c;
        font-weight: 600;
        border-radius: 1rem;
    }

    .content-box {
        display: flexbox;
        flex-wrap: nowrap;
    }

    .content-box img {
        width: 100%;
        height: auto;
        max-height: 40rem;
        margin-bottom: 3rem;
    }

    .content-box h2, .content-box p {
        text-align: center;
    }

    .float-left, .float-right {
        float: none;
        margin: 0;
    }

    #benefits {
        grid-template-columns: none;
    }

    .benefit-box h3 {
        font-size: 2.5rem;
    }

    .benefit-box p {
        font-size: 2rem;
        text-align: center;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
